#titulo {
    font-family: 'Bluebird';
    font-weight: 100;
    color: #717171;

}

#div-titulo{
    padding: 15px;
    background: linear-gradient(0deg, rgba(180,176,176,1) 0%, rgba(196,196,196,1) 23%, rgba(113,113,113,1) 100%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nombre {
    font-family: 'hangbird';
    font-size: 8em;
    color: #b679b4;
    margin-top: 1.5em;
}

#days,
#hours,
#minutes,
#seconds,
#separador {
    font-family: 'Amita';
    font-size: 3.5em;
    color: #764273;
}

#nombreClock {
    font-family: 'Amita';
    font-size: 20px;
    color: #764273;
}

@media screen and (max-width: 736px) {
    #days,
    #hours,
    #minutes,
    #seconds,
    #separador {
        font-family: 'Amita';
        font-size: 2em;
        color: #764273;
    }
    #fecha .col-xs-2,
    #fecha .col-xs-1 {
        width: auto;
        padding-right: calc(var(--bs-gutter-x) * .1);
        padding-left: calc(var(--bs-gutter-x) * 0.1);
    }
    #fecha {
        justify-content: space-between;
        flex-wrap: wrap;
    }
}